@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #0bdbb6;
    --color-primary-dark: #0d0d0d;
}

/* Arabic font support */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.font-arabic {
  font-family: 'Amiri', serif;
  direction: rtl;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}


/* Custom styles for Juz cards */
.juz-card {
  transition: all 0.2s ease-in-out;
}

.juz-card:hover {
  transform: translateY(-2px);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'SuraName';
  src: url('/public/fonts/sura_names.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri Quran';
  src: url('/public/fonts/amiri-quran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScheherazadeNew-Regular';
  src: url('/public/fonts/ScheherazadeNew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansMalayalam';
  src: url('/fonts/NotoSansMalayalam-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-malayalam {
  font-family: 'NotoSansMalayalam', serif;
}
